.third-section-container {
    display: flex;
    flex-direction: column;
    gap: 10em;
}

.text-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



span{
    color: orange;
}

.sub-text-container{
    padding: 0 10% 0 10%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}


h1,h2,p{
    margin: 0;
    letter-spacing: 0.02em;
}

h1{
    font-size: 350%;
    font-weight: 600;
}

h2{
    font-size: 200%;
    font-weight: 500;
    color: orange;
}

p{
    font-size: 200%;
    font-weight: 370;
}


.left-section {
    flex: 1;
    display: flex;
    align-items: center;
    
}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    .text-container{
        text-align: end;
    }
    .paragraph{
        padding-left: 30%;
    }
}

// .img-container {
//     flex: 1;
//     width: 50%;
//     img{
//         width: 100%;
//     }
// }

.img-container {
    flex: 1;
    width: 50%;
    height: auto;
    border-radius: 45px;
    video{
        width: 100%;
    }
}

.title{
    transform: translateY(10%);
    opacity: 0;
    transition: 1s;
}

.title.show{
    transition-delay: 80ms;
    transform: translateY(0%);
    opacity: 1;
}

.sub-title, .paragraph{
    transform: translateY(10%);
    opacity: 0;
    transition: 1s;
}

.sub-title.show, .paragraph.show{
    transition-delay: 230ms;
    transform: translateY(0%);
    opacity: 1;
}