<div class="third-section-container">
    <div class="left-section">
        <div class="img-container">
            <img src="/assets/thirdsection-image1.png">
        </div>
        <div class="text-container">
            <div class="sub-text-container">
                <div class="title">
                    <h1><span>Empower Your Solar</span><br> with Smart Monitoring</h1>
                </div>
                <div class="sub-title">
                    <h2>Access System Data Anywhere</h2>
                </div>
                <div class="paragraph">
                    <p>Allows users to monitor system data remotely</p>
                </div>
            </div>
        </div>
    </div>

    <div class="right-section">
        <div class="img-container">
            <img src="/assets/thirdsection-image2.png">
        </div>
        <div class="text-container">
            <div class="sub-text-container">
                <div class="title">
                    <h1><span>Fine-Tune Your<br> Solar Project</span> <br>Ahead of Time!</h1>
                </div>
                <div class="sub-title">
                    <h2>Insights Before Launch</h2>
                </div>
                <div class="paragraph">
                    <p>Monitor your solar project every step of the way for a flawless launch before you go live.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="left-section">
        <div class="img-container">
            <img src="/assets/thirdsection-image3.png">
        </div>
        <div class="text-container">
            <div class="sub-text-container">
                <div class="title">
                    <h1><span>Solar Savings</span><br> Simplified</h1>
                </div>
                <div class="sub-title">
                    <h2>Leading Sustainability</h2>
                </div>
                <div class="paragraph">
                    <p>Sets the standard for a sustainable energy future.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="right-section">
        <div class="img-container">
            <img src="/assets/thirdsection-image4.png">
        </div>
        <div class="text-container">
            <div class="sub-text-container">
                <div class="title">
                    <h1><span>Solar Control</span><br> Made Simple</h1>
                </div>
                <div class="sub-title">
                    <h2>Data-Driven Optimization</h2>
                </div>
                <div class="paragraph">
                    <p>Leveraging data analysis to enhance solar energy generation efficiency.</p>
                </div>
            </div>
        </div>
    </div>
</div>