.container {
  overflow-x: hidden;
  width: 400vw; /* 100vw per panel * 4 panels */
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.panel {
  width: 100vw; /* Each panel takes full viewport width */
  height: 100vh; /* Each panel takes full viewport height */
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align content to the left */
  position: relative; /* Ensure positioning context for background */
}

.background-image1 {
  background-image: url('/assets/thirdBackground-1.png'); /* Adjusted path */
  background-size: cover; /* Cover the entire panel */
  background-position: center; /* Center the background */
}

.background-image2 {
  background-image: url('/assets/thirdBackground-2.png'); /* Adjusted path */
  background-size: cover; /* Cover the entire panel */
  background-position: center; /* Center the background */
}

.image-section {
  position: relative; /* Use relative positioning for stacking */
  width: 54%; /* Set width to 60% */
  height: auto; /* Adjust height as needed */
  margin-left: 100px;
}

.tab-image {
  width: 100%; /* Adjust width as needed */
  max-width: 100%; /* Ensure it takes the full width of the image section */
  height: auto; /* Maintain aspect ratio */
  display: block;
}

.tab-overlay {
  position: absolute; /* Position it absolutely within the image section */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  width: 100%; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  z-index: 2; /* Ensure it's above the background image */
}

.tab-overlay:nth-of-type(1) {
  top: 0; /* Position Tab 1 B at the top */
}

.tab-overlay:nth-of-type(2) {
  top: 0; /* Position Tab 1 A directly below Tab 1 B */
}

.content-section {
  width: 50%; /* Set width to 40% */
  margin-left: 100px; /* Space between the image section and content section */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center align vertically */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 0.15rem;
}

.content-section h1 {
  position: relative; /* Ensure it moves with the content */
  font-size: 300%; /* Font size for the heading */
  font-weight: 600;
  
}

.content-section h1 span {
  color: orange; 
}

.content-section p {
  color: lightgray;
  font-size: 200%;
  margin: 0;
}