<!-- <div class="container">
  <div class="panel background-image1"></div>
  <div class="panel background-image2"></div>
  <div class="panel background-image1"></div>
  <div class="panel background-image2"></div>
</div> -->

<div class="container">
  <div class="panel background-image1">
    <div class="image-section">
      <img src="/assets/tabBackground.png" alt="Tab Background" class="tab-image" />
      <img src="/assets/tab1-a.png" alt="Tab1-a" class="tab-overlay" />
      <img src="/assets/tab1-b.png" alt="Tab1-b" class="tab-overlay" />
    </div>
    <div class="content-section text-section">
      <h1>Streamlining Billing<br>Management<br><span>with RPA Solutions</span></h1>
      <p>Built-in RPA Solution streamlines billing<br>management with automated data retrieval<br>from TNB, reducing manual entry and errors.<br>It ensres accurate billing information and<br>centralizes data storage in SolarPulse for easy<br>analysis and reporting.</p>
    </div>
  </div>
  <div class="panel background-image2">
    <div class="image-section">
      <img src="/assets/tabBackground.png" alt="Tab Background" class="tab-image" />
      <img src="/assets/tab2-a.png" alt="Tab2-a" class="tab-overlay" />
      <img src="/assets/tab2-b.png" alt="Tab2-b" class="tab-overlay" />
    </div>
    <div class="content-section">
      <h1>Transforming System<br>Performance with<br><span>Historical Analysis</span></h1>
      <p>SolarPulse uses historical data for trend<br>identification and performance<br>optimization, conducts weather impact<br>analyses, and proactively addresses issues<br>to enhance system efficiency.</p>
    </div>
  </div>
  <div class="panel background-image1">
    <div class="image-section">
      <img src="/assets/tabBackground.png" alt="Tab Background" class="tab-image" />
      <img src="/assets/tab3-a.png" alt="Tab2-a" class="tab-overlay" />
      <img src="/assets/tab3-b.png" alt="Tab2-b" class="tab-overlay" />
    </div>
    <div class="content-section">
      <h1><span>Preventative Maintenance</span><br>and Fault Detection</h1>
      <p>Detects equiment malfunctions,<br>performance degradation, and system<br>failures. Enables faster resolutions and<br>minimizes downtime.</p>
    </div>
  </div>
  <div class="panel background-image2">
    <div class="image-section">
      <img src="/assets/tabBackground.png" alt="Tab Background" class="tab-image" />
      <img src="/assets/tab3-a.png" alt="Tab2-a" class="tab-overlay" />
      <img src="/assets/tab3-b.png" alt="Tab2-b" class="tab-overlay" />
    </div>
    <div class="content-section">
      <h1><span>Stay Informed</span><br>with Automated<br>Performance Alerts</h1>
      <p>Automatically email and sms detailed<br>montly performance, keeping them<br>informed on system's efficiency and<br>production metrics.</p>
    </div>
  </div>
</div>

