// .third-section-container {
//     display: flex;
//     flex-direction: column;
//     gap: 10em;
// }

// .text-container{
//     flex: 1;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
// }



// span{
//     color: orange;
// }

// .sub-text-container{
//     padding: 0 10% 0 10%;
//     display: flex;
//     flex-direction: column;
//     gap: 2em;
// }


// h1,h2,p{
//     margin: 0;
//     letter-spacing: 0.02em;
// }

// h1{
//     font-size: 350%;
//     font-weight: 600;
// }

// h2{
//     font-size: 200%;
//     font-weight: 500;
//     color: orange;
// }

// p{
//     font-size: 200%;
//     font-weight: 370;
// }


// .left-section {
//     flex: 1;
//     display: flex;
    
// }

// .right-section {
//     flex: 1;
//     display: flex;
//     flex-direction: row-reverse;
//     .text-container{
//         text-align: end;
//     }
//     .paragraph{
//         padding-left: 30%;
//     }
// }

// .img-container {
//     flex: 1;
//     width: 50%;
//     img{
//         width: 100%;
//     }
// }

// .title{
//     transform: translateY(10%);
//     opacity: 0;
//     transition: 1s;
// }

// .title.show{
//     transition-delay: 80ms;
//     transform: translateY(0%);
//     opacity: 1;
// }

// .sub-title, .paragraph{
//     transform: translateY(10%);
//     opacity: 0;
//     transition: 1s;
// }

// .sub-title.show, .paragraph.show{
//     transition-delay: 230ms;
//     transform: translateY(0%);
//     opacity: 1;
// }

// @media (max-width: 850px) {
//     h1{
//         font-size: 150%;
//     }
    
//     h2{
//         font-size: 100%;
//     }
    
//     p{
//         font-size: 100%;
    
//     }
// }

.third-section-container {
    display: flex;
    flex-direction: column;
    gap: 10em;
}

.text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

span {
    color: orange;
}

.sub-text-container {
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

h1, h2, p {
    margin: 0;
    letter-spacing: 0.02em;
}

h1 {
    font-size: 3.5rem;
    font-weight: 600;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
    color: orange;
}

p {
    font-size: 2rem;
    font-weight: 370;
}

.left-section {
    flex: 1;
    display: flex;
    align-items: center;
    
}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    .text-container{
        text-align: end;
    }
    .paragraph{
        padding-left: 30%;
    }
}

// .img-container {
//     flex: 1;
//     width: 50%;
//     img{
//         width: 100%;
//     }
// }

.img-container {
    flex: 1;
    width: 50%;
    height: auto;
    border-radius: 45px;
    video{
        width: 100%;
    }
}

.img-container img {
    width: 100%;
}

.title {
    transform: translateY(10%);
    opacity: 0;
    transition: 1s;
}

.title.show {
    transition-delay: 80ms;
    transform: translateY(0%);
    opacity: 1;
}

.sub-title, .paragraph {
    transform: translateY(10%);
    opacity: 0;
    transition: 1s;
}

.sub-title.show, .paragraph.show {
    transition-delay: 230ms;
    transform: translateY(0%);
    opacity: 1;
}


@media (max-width: 1000px) {
 

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 2rem;
    }

    .img-container {
        width: 100%;
    }

    .sub-text-container {
        padding: 0 5%;
        gap: 1.5em;
    }
}

@media (max-width: 850px) {
    .third-section-container {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        text-align: center;
    }

    .left-section, .right-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.5rem;
    }

    .right-section .paragraph {
        padding: 0;
    }

    .sub-text-container {
        text-align: center;
        justify-items: center;
        align-items: center;
        padding: 0 5%;
        gap: 1.5em;
    }
}

