.second-container {
  overflow-x: hidden;
  width: 400%;
  height: 100vh;

  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.panel {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.background-image1 {
  background-image: url('/assets/thirdBackground-1.png');
  background-size: cover;
  background-position: center;
}

.background-image2 {
  background-image: url('/assets/thirdBackground-2.png');
  background-size: cover;
  background-position: center;
}

.image-section {
  position: relative;
  width: 54%;
  height: auto;
  margin-left: 10%;
}

.tab-image {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  transform: translateY(10%);
  opacity: 0;
  transition: 1s;
}

.tab-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 2;
  transform: translateY(10%);
  opacity: 0;
  transition: 1s;
}

.tab-overlay.show{
  transform: translateY(0%);
  opacity: 1;
}

.tab-overlay:nth-of-type(1) {
  top: 0;
}

.tab-overlay:nth-of-type(2) {
  top: 0;
}

.content-section {
  width: 50%;
  margin: 0 10% 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 0.15rem;
  transform: translateY(10%);
  opacity: 0;
  transition: 1s;
}

.content-section.show{
  transform: translateY(0%);
  opacity: 1;
}

.content-section h1 {
  position: relative;
  font-size: 3rem;
  font-weight: 600;

}

.content-section h1 span {
  color: orange;
}

.content-section p {
  color: lightgray;
  font-size: 2rem;
  margin: 0;
}

.tab-image.show {
  transition-delay: 150ms;
  transform: translateY(0%);
  opacity: 1;
}

@media (max-width: 1000px) {
  .second-container {
    height: 100vh;
    width: 400%;
  }
  .panel {
    height: 100%;
  }
  .image-section {
    width: 70%;
  }
  .content-section {
    width: 90%;
  }
  .content-section h1 {
    position: relative;
    font-size: 2rem;
    font-weight: 600;
  
  }
  
  .content-section h1 span {
    color: orange;
  }
  
  .content-section p {
    color: lightgray;
    font-size: 1rem;
    margin: 0;
  }
}




@media (max-width: 850px) {
  .second-container {
    
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .panel {
    
    flex-direction: column;
    padding: 3% 2%;
    
  }
  
  .image-section {
    
    width: 50%;
    margin-left: 0px;
    // display: flex; // Enable flexbox for centering
    // justify-content: center; // Center content horizontally
    align-items: left; // Center content vertically
  }
  
  .content-section {

    width: 80%;
    text-align: center;
  }


  .content-section h1 {
    font-size: 2rem; // Adjust font size for mobile
  }

  .content-section span {
    font-size: 2rem; // Adjust font size for mobile
  }

  .content-section p {
    font-size: 1rem; // Adjust font size for mobile
  }
}

