<!-- <div class="container">
  <div class="panel background-image1"></div>
  <div class="panel background-image2"></div>
  <div class="panel background-image1"></div>
  <div class="panel background-image2"></div>
</div> -->

<div class="second-container">
  <div class="panel background-image1">
    <div class="image-section">
      <img src="/assets/tabBackground.png" alt="Tab Background" class="tab-image" />
      <img src="/assets/tab1-a.png" alt="Tab1-a" class="tab-overlay" />
      <img src="/assets/tab1-b.png" alt="Tab1-b" class="tab-overlay" />
    </div>
    <div class="content-section">
      <h1>Streamlining Billing<br>Management<br><span>with RPA Solutions</span></h1>
      <p>Built-in RPA Solution streamlines billing management with automated data retrieval from TNB, reducing manual entry and errors. It ensres accurate billing information and centralizes data storage in SolarPulse for easy analysis and reporting.</p>
    </div>
  </div>
  <div class="panel background-image2">
    <div class="image-section">
      <img src="/assets/tabBackground.png" alt="Tab Background" class="tab-image" />
      <img src="/assets/tab2-a.png" alt="Tab2-a" class="tab-overlay" />
      <img src="/assets/tab2-b.png" alt="Tab2-b" class="tab-overlay" />
    </div>
    <div class="content-section">
      <h1>Transforming System<br>Performance with<br><span>Historical Analysis</span></h1>
      <p>SolarPulse uses historical data for trend identification and performance optimization, conducts weather impact analyses, and proactively addresses issues to enhance system efficiency.</p>
    </div>
  </div>
  <div class="panel background-image1">
    <div class="image-section">
      <img src="/assets/tabBackground.png" alt="Tab Background" class="tab-image" />
      <img src="/assets/tab3-a.png" alt="Tab2-a" class="tab-overlay" />
      <img src="/assets/tab3-b.png" alt="Tab2-b" class="tab-overlay" />
    </div>
    <div class="content-section">
      <h1><span>Preventative Maintenance</span><br>and Fault Detection</h1>
      <p>Detects equiment malfunctions, performance degradation, and system failures. Enables faster resolutions and minimizes downtime.</p>
    </div>
  </div>
  <div class="panel background-image2">
    <div class="image-section">
      <img src="/assets/tabBackground.png" alt="Tab Background" class="tab-image" />
      <img src="/assets/tab3-a.png" alt="Tab2-a" class="tab-overlay" />
      <img src="/assets/tab3-b.png" alt="Tab2-b" class="tab-overlay" />
    </div>
    <div class="content-section">
      <h1><span>Stay Informed</span><br>with Automated<br>Performance Alerts</h1>
      <p>Automatically email and sms detailed monthly performance, keeping them informed on system's efficiency and production metrics.</p>
    </div>
  </div>
</div>

