<div class="contact-container">
    <div class="yellow-rectangle">
        <div class="contact-text">
            <h1>Connect with us to discover how SolarPulse can benefit you!</h1>
            <p>Drop us your email, and we’ll be in touch and we’ll reach out shortly.</p>
        </div>
        <div class="contact-email-bar">
            <input [(ngModel)]="email" type="email" [placeholder]="placeholderText" class="contact-input" (keydown.enter)="sendEmail()"/>
            <button (click)="sendEmail()" class="contact-send-btn">Send</button>
        </div>        
    </div>

    <div class="gray-rectangle">
        <div class="logo-container">
            <img src="assets/solarpulseLogo.png" alt="SolarPulse Logo" class="contact-logo" />
            <div class="copyright">©2024 Copyright 57codebox. All rights reserved.</div>
        </div>

        <div class="info-container">
            <h3>
                customerservice&#64;solarpulse.tech<br><br>+603 8068 9060<br><br>3A-1C, 3A Floor, Tower 2 &#64; PFCC, <br>Jalan Puteri 1/2, Bandar Puteri, <br>47100 Puchong, Selangor.
            </h3>
            <div class="social-icons">
                <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
                    <img src="assets/instagram.svg" alt="Instagram Icon" class="social-icon" />
                </a>
                <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
                    <img src="assets/facebook.svg" alt="Facebook Icon" class="social-icon" />
                </a>
            </div>  

            <div class="legal-links">
                <!-- <a [routerLink]="['/privacy-policy']" class="legal-link">Privacy Policy</a> -->
                <a href="/privacy-policy" class="legal-link">Privacy Policy</a>
                <span>|</span>
                <a href="/terms" class="legal-link">Terms</a>
            </div>
        </div>
    </div>
</div>