<div class="container">
  <div class="image-section">
    <img src="/assets/about1.png" alt="About-2" />
  </div>
  <div class="content-section">
    <h1>
      <span>About</span>
      <img src="/assets/57logo.png" alt="57 Codebox Logo" class="logo"/>
    </h1>
    <p>Founded in 2017, 57 CODEBOX is your go-to<br>partner for innovative software development,<br>system integration, and IT consulting.<br><br>

      We’re passionate about providing top-notch<br>enterprise solutions that make a difference.<br>One of our standout products is SolarPulse, a<br>user-friendly software solution designed to<br>help you manage solar plants efficiently.<br><br> 
      
      Alongside SolarPulse, we also offer services<br>like Digital Transformation with RPA, Auto<br>Assist solutions, and Enterprise Mobile<br>Solution Development. We’re here to help<br>businesses of all sizes thrive in the digital age!</p>
  </div>
</div>

<div class="container">
  <div class="image-section">
    <img src="/assets/about2.png" alt="About-2" />
  </div>
  <div class="content-section">
    <h1>
      <span>Connecting Businesses</span>
      <br>With<img src="/assets/57logo.png" alt="57 Codebox Logo" class="logo"/>
    </h1>
    <p>We serve a diverse range of clients, from<br>local businesses to multinational<br>corporations. Our team of consultants<br>and engineers is committed to<br>upholding the highest standards of<br>professionalism, integrity, and<br>competence while embracing corporate<br>social responsibility.<br><br>

      We prioritize resolving conflicts through<br>constructive business dialogue, ensuring<br>issues are addressed with integrity and<br>fostering mutually beneficial outcomes.</p>
  </div>
</div>