.about-container {
  margin: 0% 8% 15% 8%;
  display: flex;
}

.left {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 50%;
}

.about-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  width: auto;

  img {
    position: absolute;
    height: auto;
    width: 60%;
  }

  *:nth-child(n+2) {
    opacity: 0;
  }
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



// --------- text related ----------

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  span {
    color: orange;
  }


  height: auto;
  width: 100%;

  h1 {
    font-size: 3rem;
    margin: 0;
    padding-right: 3%;
  }
}

.title-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 80%;
  margin-top: 2%;

  img {
    width: 100%;
    height: auto;
  }
}

// .words-with-logo{
//   width: 100%;
//   display: flex;
// }

.description {
  width: 90%;
  font-size: 1.4rem;
  font-weight: 200;
  letter-spacing: 2%;
}

.about-text-container {
  min-height: 100vh;
  padding: 0 5% 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media (max-width: 850px) {
  .about-container {
    flex-direction: column;
    /* Change to column layout */

    height: 100%;
    align-items: center;
    text-align: justify;
    padding: 2%;
  }

  .logo {
    width: 100%;

    img {
      width: 50%;
    }
  }

  .about-image-container {
    padding-top: 50%;
    height: auto;
    margin-bottom: 0;

    /* Reduce space between image and text */
    img {
      width: 100%;
      position: relative;
    }

    *:nth-child(n+2) {
      opacity: 1;
    }
  }

  .left {
    margin-bottom: 0;
  }

  .about-image {
    width: 100%;
    /* Set to full width */
    height: 100%;
    /* Maintain aspect ratio */

  }

  .title-container {
    h1 {
      font-size: 2rem;
    }
  }

  .title {
    h1 {
      font-size: 2rem;
    }
  }

  .description {
    font-size: 1rem;
  }
}