body {
    overflow-y: hidden;
}

.trigger {
    height: 330vh;
    overflow: hidden;
    position: relative;
}

.sub-section-container {
    // gap: 5%;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // width: 100%;
    // height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    height: 100%;
    width: auto;
    overflow-y: hidden;
    overflow-x: hidden;
}

.sub-section {
    position: absolute;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    // gap: 2em;
    margin: 18vh 15vh 20vh 15vh;

    .image-container {
        // height: 26em;
        width: 100%;
        height: auto;

        img {
            height: auto;
            width: 100%;
            object-fit: contain;
        }
    }

}

.info-section {
    display: flex;
    gap: 10%;
    text-align: center;
}

.info {
    flex: 1;

    h1 {
        font-size: 2rem;
        font-weight: 200;
    }

    p {
        font-weight: 200;
    }
}

.fourth-section-title {
    // position: absolute;
    height: 60vh;
    width: 100%;

    h1 {
        font-weight: 500;
        font-size: 3rem;
        // margin: 7% 0 0 20%;
    }
}

span {
    color: orange;
}

.spacer{
    height: 60vh;
}

@media (max-width: 1000px) {
    .fourth-section-container {
        margin-top: 15%;
    }

    .trigger {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .fourth-section-title {
        position: relative;
        margin: 0;

        h1 {
            font-size: 2.5rem;
            margin: 0;
            text-align: center;
        }

        span {
            font-size: 2.5rem;
        }
    }

    .info-section {
        display: flex;
        flex-direction: column;
        gap: 1%;
    }

    .info {
        h1 {
            font-size: 2rem;
            margin: 3% 0 3% 0;
        }
        p{
            margin: 1.5% 0 1.5% 0;
        }

    }

    .sub-section {
        position: relative;
        margin: 10vh;
    }

}

@media (max-width: 850px) {
    .fourth-section-title {
        text-align: center;
        width: 80%;

        h1 {
            font-size: 2rem;
        }

        span {
            font-size: 2rem;
        }
    }

    .info-section {
        display: flex;
        flex-direction: column;
        gap: 2%;
    }

    .info {
        h1 {
            font-size: 1.5rem;
        }

    }
    .sub-section-container {
        height: auto;
    }
}
