.trigger{
    height: 323vh;
}

.sub-section-container {
    // gap: 5%;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // width: 100%;
    // height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    height: 100%;
    width: auto;
  
}

.sub-section {
    position: absolute;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    gap: 2em;
    margin: 15vh 15vh 20vh 15vh;

    .image-container {
        // height: 26em;
        width: 100%;
        height: auto;

        img {
            height: auto;
            width: 100%;
            object-fit: contain;
        }
    }

}

.info-section {
    display: flex;
    gap: 10%;
    text-align: center;
}

.info {
    flex: 1;
    h1 {
        font-size: 200%;
        font-weight: 200;
    }
    p{
        font-weight: 200;
    }
}

.fourth-section-title{
    position: absolute;
    width: 100%;
    h1{
        font-weight: 500;
       font-size: 300%; 
       margin: 7% 0 0 20%;
    }
}

span{
    color: orange;
}
