<div class="fourth-section-container">
    <div class="alignment-container">

    <section class="trigger">
            <div class="fourth-section-title">
                <h1><span>Driving Solar Efficiency</span><br>with SolarPulse</h1>
            </div>

            <div class="sub-section-container">

                <div class="sub-section">
                    <div class="image-container">
                        <img src="/assets/fourth-section-image1.png">
                    </div>

                    <div class="info-section">
                        <div class="info">
                            <h1>Centralized Solar Information Hub</h1>
                            <p>Gain a comprehensive overview of solar plant performance, providing quick access to
                                essential
                                data
                            </p>
                        </div>

                        <div class="info">
                            <h1>Customizable Monitoring Views</h1>
                            <p>Tailor performance data by selecting specific data loggers and plant sites for focused
                                analysis
                            </p>
                        </div>

                        <div class="info">
                            <h1>Detailed Performance Metrics</h1>
                            <p>Monitor energy production trends over time with hourly, monthly, and yearly yield data,
                                as
                                well
                                as
                                yearly highest and lowest yield.</p>
                        </div>
                    </div>
                </div>

                <div class="sub-section">
                    <div class="image-container">
                        <img src="/assets/fourth-section-image2.png">
                    </div>

                    <div class="info-section">
                        <div class="info">
                            <h1>Seamless System Integration</h1>
                            <p>Integrates with TNB for digitized billing and easy PDF access, enhancing efficiency with
                                energy
                                management and building automation systems</p>
                        </div>

                        <div class="info">
                            <h1>Innovative Technology</h1>
                            <p>Pioneers sustainable innovation in solar engineering.</p>
                        </div>

                        <div class="info">
                            <h1>Ensure System Health Off-Site</h1>
                            <p>Facilitates preventative maintenance even from a distance</p>
                        </div>
                    </div>

                </div>

                <div class="sub-section">
                    <div class="image-container">
                        <img src="/assets/fourth-section-image3.png">
                    </div>

                    <div class="info-section">
                        <div class="info">
                            <h1>Role-Based Access</h1>
                            <p>Administrators can assign roles to users, ensuring that each individual has appropriate
                                access to
                                system data and functions.</p>
                        </div>

                        <div class="info">
                            <h1>Enhanced Security</h1>
                            <p>By controlling permissions, the platform safeguards sensitive information and maintains
                                system
                                integrity.</p>
                        </div>

                        <div class="info">
                            <h1>Efficient Administration</h1>
                            <p>Simplifies the management of user permissions, making it easier to oversee and update
                                access
                                controls
                                as needed.</p>
                        </div>
                    </div>
                </div>
            </div>
    </section>

</div>
</div>