.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f79d1c;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 50%;
  font-size: 0;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0.9;
}

.scroll-to-top:hover {
  transform: scale(1.1);
  opacity: 1;
}

.scroll-to-top svg {
  width: 100%;
  height: 100%;
  fill: white;
}

.spacer {
  height: 100vh;
}
