
<!-- <app-header></app-header>
<app-home></app-home> 
<app-second-section></app-second-section>
<app-third-section></app-third-section> 
<app-fourth-section></app-fourth-section>
<app-about-us></app-about-us>
<app-contact-us></app-contact-us>  -->
<!-- <app-contact-us id="contact-us"></app-contact-us> -->

<app-header></app-header>
<ng-container *ngIf="showGeneralContent">
  <app-home id="home"></app-home> 
  <app-home-second></app-home-second>
  <app-second-section id="second-section"></app-second-section>
  <app-third-section id="third-section"></app-third-section> 
  <app-fourth-section id="fourth-section"></app-fourth-section>
  <app-about-us id="about-us"></app-about-us>
  <app-contact-us id="contact-us"></app-contact-us>
</ng-container>

<router-outlet></router-outlet>
<!-- 
 Scroll to Top Button  -->
<!-- <button
  *ngIf="showScrollToTop"
  (click)="scrollToTop()"
  class="scroll-to-top"
  aria-label="Scroll to top"
>
  ⬆️
</button> -->