.policy-section {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 0.15rem;
  padding: 7.5%;
  padding-top: 8%;
  text-align: justify;
  height: auto;
  h1 {
    position: relative;
    font-size: 3.5rem;
    font-weight: 600;
  }
  span {
    color: orange;
    font-size: 2rem;
    font-weight: 600;
  }
  p {
    color: lightgray;
    font-size: 2rem;
    margin: 0;
    text-align: justify;
  }
      
}
  
.logos-container {
  display: flex;
  justify-content: left; 
  align-items: center;
  margin-top: 4%; 
  width: 55%;
  span {
    font-size: 3rem;
    font-weight: 2; 
    color: white; 
    margin-top: -10px;
    
  }
}
  
.solarpulse-logo, .codebox-logo {
  max-width: 20vw;
  width: auto; 
}
.solarpulse-logo {
  margin-right: 2%;

}
.codebox-logo {
  margin-left: 2%;
  height: 100%;
}

.policy-rectangle {
  background-color: #242424;
  height: auto; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .contact-logo {
    width: 100%; 
    height: auto;
  }

  .copyright {
    font-size: 1rem;
    color: white;
    margin-top: 9.2rem;
  }
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: white;
  text-align: right;
  
  h3 {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: 500;
    margin-bottom: 1.5rem; 
  }

  .social-icons {
    display: flex;
    align-items: center;
    margin: 2rem 0 0.2rem 0; 

    .social-icon {
      width: 30px;
      height: auto;
      cursor: pointer;
      margin: 0 10px;
      &:hover {
        opacity: 0.7;
      }
    }
  }

  .legal-links {
      display: flex;
      justify-content: center;
      margin-top: 15px;

    .legal-link {
      color: white;
      text-decoration: none;
      margin: 0 5px;
      font-size: 1rem;
      &:hover {
        text-decoration: underline;
      }
    }
    span {
      color: white;
      margin: 0 5px;
    }
  }
}

@media (max-width: 1000px) {
  .solarpulse-logo, .codebox-logo {
    max-width: 20vw;
    width: auto; 
  }
  .policy-rectangle {
    height: auto;
    padding: 3rem;
    flex-wrap: wrap;
  }
  .logo-container {
    .copyright {
    margin-top: 9rem;
    }
  }
}

@media (max-width: 850px) {
  .policy-section {
    padding-top: 10%;
    h1 {
      font-size: 2rem;
    }
    span {
      font-size: 1rem;
    }
    p {
      font-size: 1rem;
    }
  }
  .policy-rectangle {
    flex-direction: column;
    text-align: center;
    height: auto;
    padding: 2rem 3rem;
    flex-wrap: wrap;
  }

  .logo-container, .info-container {
    align-items: center;
    text-align: center;
  }

  .info-container h3 {
    font-size: 3vw;
}

  .social-icons .social-icon {
    width: 25px;
    margin: 0 5px;
  }

  .legal-links {
    flex-direction: row;
    margin-top: 1rem;
  }

  .legal-link {
    margin: 5px 0;
  }

  .copyright {
    margin-top: 2rem;
    font-size: 0.9rem;
  }
}
@media (max-height: 600px){
  .policy-section {
    padding-top: 10%;
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
    }
  }
}