.policy-section {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 0.15rem;
  padding: 150px;
  padding-top: 200px;
  text-align: justify;
  h1 {
      position: relative;
      font-size: 300%;
      font-weight: 600;
  }
  span {
      color: orange;
      font-size: 150%;
      font-weight: 600;
  }
  p {
      color: lightgray;
      font-size: 150%;
      margin: 0;
      text-align: justify;
  }
      
}
  

.logos-container {
  display: flex;
  justify-content: left; 
  align-items: center;
  margin-top: 40px; 
  span {
    font-size: 3rem;
    font-weight: 2; 
    color: white; 
    margin-top: -10px;
    
  }
}
  
.solarpulse-logo {
  height: 90px; /* Keeps the solarpulse logo size */
  margin-right: 10px;
}

.codebox-logo {
  height: 40px; /* Makes the 57codebox logo smaller */
  margin-left: 10px;
}

  
.policy-rectangle {
  background-color: #242424;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
  padding-top: 2%;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .contact-logo {
      width: 100%;
      height: auto;
  }

  .copyright {
      font-size: 1rem;
      color: white;
      margin-top: 7.9rem;
  }
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: white;
  text-align: right;
  padding-right: 7%;
  

  h3 {
      font-size: 1.2rem;
      
      font-weight: 500;
      margin-bottom: 10px;
  }

  .social-icons {
      display: flex;
      align-items: center;
      margin: 2rem 0 0.2rem 0;

      .social-icon {
          width: 30px;
          height: auto;
          cursor: pointer;
          margin: 0 10px;
          &:hover {
              opacity: 0.7;
          }
      }
  }

  .legal-links {
      display: flex;
      justify-content: center;
      margin-top: 15px;

      .legal-link {
          color: white;
          text-decoration: none;
          margin: 0 5px;
          font-size: 1rem;
          &:hover {
              text-decoration: underline;
          }
      }

      span {
          color: white;
          margin: 0 5px;
      }
  }
}