<div class="terms-section">
    <h1>Data Protection & Privacy Policy</h1>
    <h1><span>Your Privacy</span></h1>
    <p></p>57 CODEBOX SDN BHD (57 CODEBOX) is committed to protecting your privacy. This data protection and privacy policy sets out how we use and protect the information you give us through this website.
To serve you better, you are aware and agreeable that we may share information you give us with our Holding/Subsidiary company or our partners when you:• Register with our website• Submit any electronic forms available in this website• Send an e-mail which includes personal data

Storage Security & Data Protection
57 CODEBOX has put in place technology and standards to protect stored and transmitted personal information you give us. This includes encryption software and strict security standards. However, while we are committed to protecting your personal data, we do not guarantee unauthorised or accidental access to such data.
We may also collect information that your browser sends whenever you visit our website or when you access the website by or through a mobile device ("Usage Data").
This Usage Data may include information such as your computer's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our website that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostic data.

Your Consent
By giving us your personal information, you are giving us consent to collect, use and disclose your personal information under the terms of this policy and any relevant privacy and data protection laws in Malaysia. If you do not wish to give us this consent, then please do not use any of the electronic forms in our website.

Use and Disclosure of Personal Data and Purpose Specification
57 CODEBOX will keep confidential all personal information collected through our website. We may however disclose such information to the following parties in the course of using the information for the reason it was collected:• Subsidiaries, holding companies, associated companies or affiliates of 57 CODEBOX• Companies solely or jointly controlled by 57 CODEBOX• A person or company acting on behalf of 57 CODEBOX• Any other person or company who has undertaken to keep such information confidential, provided they have a right to such information• To comply with a legal obligation• To protect and defend the rights or property of 57 CODEBOX• To prevent or investigate possible wrongdoing in connection with the Service• To protect the personal safety of users of the Service or the public• To protect against legal liability
We will also disclose your personal data to government authorities if we are forced to by law. We may also disclose your personal information to anyone else that has a right to it under Malaysian law so long as they can prove they have the authority to do.

Data Retention
We will keep any personal information you give us as long as there is a reason to do so, for instance to satisfy the law or regulations, or to protect our interests. If not, then we will destroy it by purging it from our electronic, manual, and other filing systems according to our internal procedures and schedules.

Changes to this Privacy Policy
57 CODEBOX has the right to change this policy at any time. We will announce any changes on this page. This policy is not a contract, nor does it suggest any obligation on our part with another party.
You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.

</div>