<div class="hero">
    <div class="hero-container">
        <!-- <img src="assets/laptopBackground.png" class="background-image"> -->
        <!-- <div class="backgroundImg-container">
            
        </div> -->
        <img class="background" src="assets/laptopBackground.png">
        <div class="first-content">
           
           
            <div class="image-section">
                <div class="text-section">
                    <h1><span>Unlock the Power</span><br>of the Sun with<br>Smart Monitoring</h1>
                </div>
                <img src="assets/laptop.gif" class="laptop-gif">
                <img src="assets/laptop.png">
                <!-- <img src ="assets/laptop.gif"> -->
            </div>
        </div>
       

    </div>
</div>