<div class="hero">
    <div class="hero-container">
        <!-- <img src="assets/laptopBackground.png" class="background-image"> -->
        <!-- <div class="backgroundImg-container">
            
        </div> -->
        <div class="first-content">
            <div class="text-section">
                <h1><span>Unlock the Power</span><br>of the Sun with<br>Smart Monitoring</h1>
            </div>
            <div class="image-section">
                <img src="assets/laptop.png">
            </div>
        </div>
        <div class="second-content">
            <!-- <div class="second-image-section">
                <img src="assets/secondBackground.png">
            </div>  -->
            <div class="text-section">
                <h1><span>Optimized Solar Monitoring</span><br>and Asset Management</h1>
                <div class="text-section-paragraph">
                    <p>The system offers real-time data on output, voltage, and status, enabling users to monitor
                        performance. It also
                        tracks inverter loans and solar panel inventory for efficient asset management.
                    </p>
                </div>
            </div>
            <div class="three-images">
                <img src="assets/secondcontent1.png" class="image2">
                <img src="assets/secondcontent2.png" class="image1">
                <img src="assets/secondcontent3.png" class="image2">
            </div>
            
        </div>

    </div>
</div>