<div class="hero">
    <div class="hero-container">
        <div class="backgroundImg-container">
            <img src="assets/laptopBackground.png" class="background-image">
        </div>
        <div class="first-content">
            <div class="text-section">
                <h1><span>Unlock the Power</span><br>of the Sun with<br>Smart Monitoring</h1>
            </div>
            <div class="image-section">
                <img src="assets/laptop.png">
            </div>
        </div>
        <div class="second-content">
            <div class="second-image-section">
                <img src="assets/secondBackground.png">
            </div>
        </div>
    </div>
</div>